/* Write your CSS here */
li {
  list-style-type: none;
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-style {
  font-size: 20px;
  color: #000000;
}

.button-style {
  height: 45px;
  width: 100px;
  border: 1px solid #ff0b37;
  border-radius: 10px;
  color: #ff0b37;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
